---
import ImageComp from "../components/ImageComp.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Home" description="Welcome to the home page">
  <section class="relative isolate h-screen">
    <ImageComp
      imagePath="/src/assets/kai-oberhauser-ELCSOhGi73M-unsplash.jpg"
      imageAlt="Penn Air Repair runway lights close up"
      styles="absolute inset-0 -z-10 size-full object-cover object-top"
    />
    <div
      class="mx-auto w-full h-full flex justify-center align-middle items-center"
    >
      <div
        class="text-center max-w-7xl shadow-xl ring-2 ring-gray-100/30 bg-gradient-to-br from-white/60 via-black/20 to-white/60 backdrop-blur-md w-full lg:w-1/2 py-12 rounded-3xl"
      >
        <p class="text-base/8 font-semibold text-white">404</p>
        <h1
          class="mt-4 text-balance text-5xl font-semibold tracking-tight text-white sm:text-7xl"
        >
          Page not found
        </h1>
        <p
          class="mt-6 text-pretty text-lg font-medium text-white/70 sm:text-xl/8"
        >
          Sorry, we couldn’t find the page you’re looking for.
        </p>
        <div class="mt-10 flex justify-center">
          <a href="/" class="text-sm/7 font-semibold text-white"
            ><span aria-hidden="true">&larr;</span> Back to home</a
          >
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
